<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="GABAK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        <section name="AdvancedLayoutOptimizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<connectionStrings>
    <add name="GABAK.Properties.Settings.gabakConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\gabak.mdf;Integrated Security=True;Connect Timeout=30"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup><userSettings>
        <GABAK.Properties.Settings>
            <setting name="appFont" serializeAs="String">
                <value>Microsoft Sans Serif, 6pt</value>
            </setting>
        </GABAK.Properties.Settings>
        <AdvancedLayoutOptimizer.Properties.Settings>
            <setting name="appFont" serializeAs="String">
                <value>Microsoft Sans Serif, 6pt</value>
            </setting>
        </AdvancedLayoutOptimizer.Properties.Settings>
    </userSettings>
</configuration>
